.nav-ul li {
  display: inline-block;
  padding: 10px;
  background-color: skyblue;

}
.Footer{
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
background-color: skyblue;
}

.register {
  margin-left: 30%;
}

.appButton {
  width: 80px;
  padding: 5px;
  background-color: skyblue;
}

.inputbox {
  display: block;
  margin: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid skyblue;

}

.nav-ul li a {
padding: 5px;
    color:rgb(245, 235, 235);
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
